{
	"ignore": [
    	"node_modules/**"
  	],
	"env": {
		"test": {
			"presets": [
				"react",
				"es2015",
				"stage-0"
			]
		},
		"development": {
			"presets": [
				"react",
				["es2015", { "modules": false }],
				"stage-0"
			],
			"plugins": [
				"external-helpers"
			]
		},
		"production": {
			"presets": [
				"react",
				["es2015", { "modules": false }],
				"stage-0"
			],
			"plugins": [
				"external-helpers"
			]
		}
	}
}
